body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: "header header" "main aside" ;
  grid-template-rows: 4rem auto;
  grid-template-columns: auto 20rem;
  background-color: #0a67a0;
  overflow: hidden;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

header {
  grid-area: header;
}

#app {
  width: 100%;
  height: 100%;
}
